marquee{
	background-color: black;
	color:white;
}
form{
	color: black;}

.div-card{
	background-color: white;
	width: 300px;
	margin: 500px;
	margin-top: initial; 
	padding: 10px;"
}

#last{
	background-color: yellow;
}

.Email{
	background-colcor: blue;
}